<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Order of Saints</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/display">User Display</a></div>
    <div class="navlink"><a href="/about2">About</a></div>
  </nav>
  <section id="editDisplay">
    <form id="displayForm" name="displayForm" action="/display" method="POST" class="displayForm">
      <label for="name">Name: </label>
      <input id="displayName" type="text" name="name" placeholder="Display Name"/>
      <label for="message">Message: </label>
      <input id="displayMessage" type="text" name="message" placeholder="Display Message"/>
      <label for="color">Color: </label>
      <input id="displayColor" type="text" name="color" placeholder="Display Color"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <a id="updateDisplay" href="#" class="button">Update Display</a>
    </form>
  </section>
  <section id="displays">
    <div class="display">
      {{#if displays}}
        {{#each displays}}
          <div style="background-color: {{this.color}}" class="display">
            <h3 class="displayName">Name: {{this.name}}</h3>
            <h3 class="displayMessage">Message: {{this.message}}</h3>
            <h3 class="displayScore">High Score: {{this.score}}</h3>
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyDisplay">No Display Yet</h3>
      {{/if}}
    </div>
  </section>
  <a id="launchGame" href="/game" class="button">Launch Game</a>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>